:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --background: #fff;
  --text-primary: #000;
  --button-bg: #000;
  --button-text: #fff;
}

*,
*::before,
* ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

[data-theme="dark"] {
  --background: #000;
  --text-primary: #fff;
  --button-bg: #fff;
  --button-text: #000;
}

.container {
  background-color: var(--background);
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  transition: all 0.5s;
}

.container h1 {
  color: var(--text-primary);
  margin: 0;
  font-size: 3.2rem;
  line-height: 1.1;
}

.container button {
  background-color: var(--button-text);
  border: 1px solid var(--button-bg);
  color: var(--button-bg);
  padding: 1rem;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}
/* .dark-mode-h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: #fff;
  margin-left: 3rem;
  transition: all 0.5s;
}

.light-mode-h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: #000;
  margin-left: 3rem;
  transition: all 0.5s;
}

button {
  width: 10rem;
  height: 3rem;
  margin: 1.5rem 0;
  border-radius: 8px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  margin-left: 3rem;
  cursor: pointer;
  transition: border-color 0.25s;
  background-color: #fff;
}



.dark-mode {
  background-color: #000;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 0.5s;
}

.light-mode {
  background-color: #fff;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 0.5s;
} */
